.body {
  min-height: 100vh;
  position: absolute;
}

.container-fluid {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;

}

.row {
  min-height: inherit;
}

.left-side {
  min-height: 100%;
  text-align: center;
  vertical-align: middle;
  left: 0;
  right: 0;
  font-size: 65px;
}

.center {
  min-height: 100%;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 198px;
}

.right-side {
  min-height: 100%;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 65px;
}
